$color_black: #383638;
$color_gray: #747374;
$color_foxy: #e9672b;

.goods__list{
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    list-style-type: none;
    margin-top: 20px;
    gap: 10px;
}

.goods__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 280px;
}

.wrapper-price{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    border-top-color: #e9672b;

}

.wrapper-title{
    height: 60%;
    width: 100%;
    cursor: pointer;
}

.price{
    color: $color_gray;
}

.goods__link{
    height: 100%;
    width: 100%;
}
