.tools-bar{
    // padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tools-search{
    margin: 15px;
}

.main{
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
}

.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categories{
    flex: 1;
    height: 100%;
}

.categories__title{
    text-align: center;
}

.loadingGoodsContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goodsContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods{
    flex: 3;  
    height: 100%;

}