@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Regular.ttf') format('truetype');
}

.wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
}

.conteiner{
    // height: calc(100vh - 326px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    margin: 25px 0px;
}

.description{
    padding: 20px 10px;
    width: 100%;
}
.description-content{
    font-family: "Roboto";
    white-space: pre-wrap;
    padding: 10px 0px;
    width: 100%;

}

.button-back{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.chain-wrapper{
    width: 100%;
}

.chain-container{
    display: flex;
    justify-content: flex-start;
    font-family: "Roboto";
}