.auth{
    display: flex;
    justify-content: center;
    overflow: auto;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 100px 50px 0px;
    width: 400px;
    padding: 20px;
}

.submit-auth__button{
    padding: 10px 0px;
    text-align: center;
    background-color: #e9672b;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.input{
    width: 100%;
}
