.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title{
    text-align: center;
    margin: 20px 0px;
}

.create-element{
    margin-bottom: 10px;
}

.section-content{
    width: 100%;
}