.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title{
    text-align: center;
    margin: 20px 0px;
}

.create-element{
    margin-bottom: 10px;
}

.section-content{
    width: 100%;
    // overflow-y: auto;
    // height: calc(100vh - 320px);
}

// .section-content::-webkit-scrollbar-thumb {
//     border-radius: 5px;
//     background-color: #e9672b;
//     border-radius: 20px;
//   }

// .section-content::-webkit-scrollbar {
//     width: 15px;
// }