
$color_black: #383638;
$color_gray: #747374;
$color_foxy: #e9672b;

@font-face {
  font-family: 'Roboto Bold';
  src: url('../public/fonts/Roboto-Bold.ttf') format('truetype');
}
  @font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
}
  @font-face {
  font-family: 'Roboto Medium';
  src: url('../public/fonts/Roboto-Medium.ttf') format('truetype');
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto Bold';
  color: $color_gray;
  background: $color_foxy;
  overflow-y: auto;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ffffff;
  border-radius: 20px;
}

body::-webkit-scrollbar {
  width: 15px;
}

a{
  color: $color_gray;
  text-decoration: none;
  &:hover{
    color: $color_foxy;
  }
}

button{
  padding: 3px;
  font-size: 14px;
  cursor: pointer;
}
