@font-face {
  font-family: 'Roboto Bold';
  src: url('../public/fonts/Roboto-Bold.ttf') format('truetype');
}
  @font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
}
  @font-face {
  font-family: 'Roboto Medium';
  src: url('../public/fonts/Roboto-Medium.ttf') format('truetype');
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto Bold';
  color: rgb(50, 50, 50);
}

a{
  color: rgb(50, 50, 50);
  text-decoration: none;
}

a:hover{
  // color: rgb(90, 90, 90);
  border-bottom: 1px solid rgb(50, 50, 50);
}

button{
  padding: 3px;
  font-size: 14px;
  cursor: pointer;
}
