.header{
    padding: 20px 0px;
    height: 65px;
    margin: 20px 0px;
}
.footer{
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container{
    max-width: 1500px;
    margin: 0 auto;
  }

  .root {
    min-height: 100vh;
    display: grid;
    grid-auto-rows: auto 1fr auto;
    margin: 0px 25px;
  }
  