.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.loading{
    text-align: center;
    animation:around 2s linear infinite;
    margin: 5px 0px;
    height: 7px;
    border-radius: 50px;
    background-color: rgb(50, 50, 50);
    width: 7px;
}

@keyframes around {
    0% {
        background-color: rgb(50, 50, 50, 0);
    }
  
    50% {
        background-color: rgb(50, 50, 50, 0.7);
    }

    100% {
        background-color: rgb(50, 50, 50, 0);
    }
  }
