.header__login{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 10px;
}

.header__login-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap:5px;
}

.log-img, .setings-img{
    width: 20px;
}