$color_gray: #747374;

.menu__list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}

.menu__link{
    text-decoration: none;
}

.menu__item{
    margin: 0px 10px;    
}

.menu__home{
    margin-top: 4px;
    width: 20px;
}

.menu__sep{
    font-size: 20px;   
    margin: 0px 15px;    
    color: $color_gray;
}

