$color_foxy: #e9672b;

.slider{
    height: 40%;
    width: 90%;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
}

.image-block{
    width: 100%;
    height: 100%;
}

.image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.dot{
    width: calc(0.7vh);
    height: calc(0.7vh);
    background: $color_foxy;
    opacity: 0.2;
    margin: 0px 5px;
    border-radius: 50%;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}

.dot-active{
    opacity: 1;
}

.arrow-left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2vw);
    width: calc(100vw - 97vw);
    height: 100%;
    border-radius: 50%;
    color: $color_foxy;
    opacity: 0.1;
    &:hover{
        cursor: pointer;
        opacity:1;
    }
}
.arrow-right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2vw);
    width: calc(100vw - 97vw);
    height: 100%;
    border-radius: 50%;
    color: $color_foxy;
    opacity: 0.1;
    &:hover{
        cursor: pointer;
        opacity:1;
    }
}