$color_gray: #747374;

.sort{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.selected-list{
    height: 30px;
    font-weight: bold;
    color:$color_gray ;
}