@font-face {
    font-family: 'Roboto';
    src: url('../../../public/fonts/Roboto-Regular.ttf') format('truetype');
  }

.block-edit-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px;
    font-family: 'Roboto';
    font-size: 14px;
}

.listChildren{
  font-size: 14px;
}

.input{
  padding: 5px;
  width: 50%;
}
.input-longitude, .input-latitude{
  padding: 5px;
  height: 20px;
  width: 100%;
}
.input-number{
  padding: 5px;
  width: 15%;
}

.textarea{
  padding: 5px;
  width: 100%;
}

.button-img{
  width: 25px;
}
.list-subcategories{
  display: flex;
  align-items: center;
}

.multiselect-subcategories{
  width: 50%;
}

.location{
  display: flex;
  flex-direction: column;
}

.coordinates{
  display: flex;
  gap: 15px;
}

.longitude{
  display: flex;
  align-items: flex-end;
  gap: 5px;
  width: 150px;
}
.latitude{
  display: flex;
  align-items: flex-end;
  gap: 5px;
  width: 150px;
}
