.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}

.content{
    display: flex;
    gap: 50px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}

.map{
    flex: 2;
    height: 500px;

    background: tomato;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 36px;
    color: #fff;

    margin-bottom: 25px;
}

.list-contacts{
    flex:1;
    padding-left: 25px;
    
}

.description{
    white-space: pre-wrap;
}